html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  font: 14px/1.5 Arial;
  color: #333;
  /* 使用grid布局两行三列 */
  display: grid;
  grid: auto auto / 1fr 900px 1fr;
}

@media(max-width:900px){
  body{
    grid: auto auto/1fr 678px 1fr;
  }
}

@media(max-width:678px){
  body{
    grid: auto auto/1fr;
  }
}

header{
  grid-area: 1/1/2/4;
  padding: 20px 0;
  text-align: center;
  background-color: #444;
}

@media(max-width:678px){
  header{
    grid-area: 1/1/2/2;
  }
}

header .avatar{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

header >h1{
  margin: 0;
  font-size: 18px;
  color: white;
}

header > p{
  margin: 0;
  color: white;
}

main{
  grid-area: 2/2/3/3;
  display: grid;
  grid: auto / 300px 600px;
}

@media(max-width:678px){
  main{
    grid-area: 2/1/3/2;
    grid: auto/auto;
    padding: 10px;
  }
}

.basic-info{
  grid-area: 1/1/2/2;
}

.column-1{
  grid-area: 1/1/2/2;
}

@media(max-width:678px){
  .column-1{
    grid-area: 2/1/3/2;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.column-2{
  grid-area: 1/2/3/2;
  margin-left: 30px;
}

@media(max-width:678px){
  .column-2{
    grid-area: 3/1/3/2;
    margin-left: 10px;
    margin-right: 10px;
  }
}

main section{
  margin-top: 20px;
  align-items: center;
  display: grid;
  grid: auto auto/50px auto;
}

main section >span.iconfont{
  grid-area: 1/1/2/2;
  background: #77a8a3;
  color: #fff;
  width: 32px;
  height: 32px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

main section >h2{
  font-size: 18px;
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
}

main section > h2::after{
  margin-left: 20px;
  content: '';
  height: 2px;
  flex: 1;
  background: #77a8a3;
}

main section > .detail{
  grid-area: 2/2/3/3;
  padding: 0;
}

.basic-info .detail{
  list-style: none;
  margin: 0;
  padding: 0;
}

.basic-info .detail li{
  display: flex;
  align-items: center;
}

.basic-info .detail .iconfont{
  font-size: 18px;
  margin-right: 10px;
}

.skills .detail{
  padding: 0;
  margin: 0;
}

.map .detail dd{
  background-color: #ccc;
  margin: 8px 16px 0;
  height: 3px;
  border-radius: 3px;
}

.map .detail .bar{
  display: block;
  background-color: #77a8a3;
  height: 3px;
}

.layout-1 .detail > li{
  display: grid;
  grid: auto auto/auto 1fr auto;
  align-items: center;
  grid-gap: 10px;
}

@media(max-width:678px){
  .layout-1 .detail> li{
    grid: auto auto auto/auto 1fr;
  }
}

.layout-1 .detail h3{
  grid-area: 1/2/2/3;
  margin: 0;
}

@media(max-width:678px){
  .layout-1 .detail h3{
    grid-area: 2/1/3/3;
  }
}

.layout-1 .detail .timeline{
  grid-area: 1/1/2/2;
}

@media(max-width:678px){
  .layout-1 .detail .timeline{
    grid-area: 1/1/2/2;
  }
}

.layout-1 .detail .subtitle{
  grid-area: 1/3/2/4;
}

@media(max-width:678px){
  .layout-1 .detail .subtitle{
    grid-area: 1/2/2/3;
    justify-self: end;
  }
}

/* .layout-1 .detail p{
  grid-area: 2/2/3/3;
  margin: 0;
} */

.layout-1 .detail .content{
  grid-area: 2/2/3/4;
  margin: 0;
  padding: 0;
}

@media(max-width:678px){
  .layout-1 .detail .content{
    grid-area: 3/1/4/3;
  }
}